<div class="card chat-messages-display">
    <div class="card-header" i18n>
        Chat Messages
    </div>
    <div #content class="card-body chat-messages">
        <div #messages class="card-text message-list" *ngFor="let chatMessage of chatMessages">
            <div *ngIf="chatMessage.type === chatMessageType.CHAT">
                <b>{{ chatMessage.username }}:</b> {{ chatMessage.message }}
            </div>
            <div *ngIf="chatMessage.type === chatMessageType.STATUS">
                <b>{{ chatMessage.username }}</b> {{ chatMessage.message }}
            </div>
            <div *ngIf="chatMessage.type === chatMessageType.TELLTO">
                <b i18n>You tell {{ chatMessage.username }}:</b> {{ chatMessage.message }}
            </div>
            <div *ngIf="chatMessage.type === chatMessageType.TELLFROM">
                <b i18n>{{ chatMessage.username }} tells you:</b> {{ chatMessage.message }}
            </div>
            <div *ngIf="chatMessage.type === chatMessageType.ERROR">
                <span class="errorMessage">{{ chatMessage.message }}</span>
            </div>
        </div>
    </div>
</div>